@{
    ViewBag.Title = "FordFiesta06";
}



<!DOCTYPE html>
<html>
<head>
    <title>The Auto-Swift Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <!--start header-->
    <div class="h_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="header">
                    @*<@*div class="logo">
                            <h1>Online Shopping</h1>
                        </div>*@*
                    <div class="logo">
                        <a href="Index.html"><img src="/images/logo.png"> </a>
                    </div>
                    <div class="cssmenu">
                        <ul>
                            <li><a href="/Home/Index"><span>Home</span></a></li>
                            <li><a href="/About/About"><span>About</span></a></li>

                            <li><a href="/Register/Register"><span>Registeration</span></a></li>
                            <li>class="active" class="last"><a href="/Contact/Contact"><span>Contact</span></a></li>
                        </ul>
                        <div class="clear"></div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="slider_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="slider">
                    <!-- #camera_wrap_1 -->
                    <div class="fluid_container">
                        <div class="camera_wrap camera_azure_skin" id="camera_wrap_1">
                            <div data-thumb="/images/slider5.png" data-src="/images/slider5.png">
                            </div>
                            <div data-thumb="/images/slider2.jpg" data-src="/images/slider2.jpg">
                            </div>
                            <div data-thumb="/images/slider3.jpg" data-src="/images/slider3.jpg">
                            </div>
                            <div data-thumb="/images/slider4.jpg" data-src="/images/slider4.jpg">
                            </div>
                        </div><!-- #camera_wrap_1 -->
                        <div class="clear"></div>
                    </div>
                    <!-- end #camera_wrap_1 -->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>*@
    <div class="h_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="main">
                    <h2 class="style">Ford Fiesta 06</h2>
                    <div class="about">
                        <div class="cont-grid-img img_style">
                            <img src="~/images/ford3.jpg" alt="">
                        </div>
                        @*<h2 class="style">Car Details </h2>*@
                        <div class="style">
                            <div class="abt-style">

                                <p><h2 class="style"><strong>Car Name: Ford Fiesta 06</strong></h2></p>
                                <br>
                                <p> <h2 class="style"> <span>Price: $19887</span></h2></p>
                                <br>
                                <p><h2 class="style"><span>Color: Blue</span></h2></p>
                                <br />
                            </div>
                            <div>
                                <span><a href="/Ford/FordFiesta06"><input type="submit" value="Add To Cart"></a></span>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="footer_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="footer">
                    <div class="copy">
                        <p class="w3-link">© All Rights Reserved | Design by ; <a href="mailto:mcsf13m024@pucit.edu.pk"> MCSF13M024</a></p>
                    </div>
                    <div class="f_nav">
                        <ul>
                            <li><a href="/Register/Register">Registration</a></li>
                            <li><a href="https://www.facebook.com/Punjab.University.College.of.IT">Facebook</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>














